# Node prediction

1. Complete a basic node prediction with GNN (predict vmiles with pop )

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import pickle
import statsmodels.api as sm
import copy

/usr/local/lib/python3.7/site-packages/geopandas/_compat.py:110: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
import torch
from torch_geometric.data import Data

In [3]:
# read files
# read files
flow_16_acs_ma=gpd.read_file('../../data/processed_small_data/flow_16_acs_MA_shp.geojson')
flow_20_march_week4_ma=gpd.read_file('../../data/processed_small_data/flow_20_march_week4_MA_shp.geojson')
us_tract_ma=gpd.read_file('../../data/processed_small_data/us_tract_MA_shp.geojson')

In [4]:
# 
print(flow_16_acs_ma.shape)
print(flow_20_march_week4_ma.shape)
print(us_tract_ma.shape)

(101633, 13)
(63848, 10)
(1459, 66)

In [6]:
flow_16_acs_ma.head()

,Ofips,Dfips,Ostfips,Octfips,Otrfips,Dstfips,Dctfips,Dtrfips,Flow,Moe,LenKM,ESTDIVMOE,geometry
0,25015820400,25015820400,25,15,820400,25,15,820400,2505,391,0.0,6.41,"LINESTRING (1900558.820 2390415.541, 1900558.8..."
1,25003925100,25003925100,25,3,925100,25,3,925100,2050,317,0.0,6.47,"LINESTRING (1840991.191 2354932.119, 1840991.1..."
2,25021404400,25021404400,25,21,404400,25,21,404400,1915,390,0.0,4.91,"LINESTRING (2000840.403 2404838.904, 2000840.4..."
3,25001010100,25001010100,25,1,10100,25,1,10100,1540,246,0.0,6.26,"LINESTRING (2094693.021 2403721.152, 2094693.0..."
4,25003914100,25003914100,25,3,914100,25,3,914100,1215,256,0.0,4.75,"LINESTRING (1847368.343 2366845.098, 1847368.3..."

In [7]:
flow_20_march_week4_ma.head()

,geoid_o,geoid_d,lng_o,lat_o,lng_d,lat_d,date_range,visitor_flows,pop_flows,geometry
0,25001012700,25017342400,-70.341803,41.645342,-71.062198,42.398850,03/23/20 - 03/29/20,4,109.0,"LINESTRING (2095835.909 2355892.236, 2016504.4..."
1,25001012700,25001015300,-70.341803,41.645342,-70.290085,41.673588,03/23/20 - 03/29/20,215,5883.0,"LINESTRING (2095835.909 2355892.236, 2099112.2..."
2,25001012700,25001010400,-70.341803,41.645342,-69.983433,41.757063,03/23/20 - 03/29/20,20,547.0,"LINESTRING (2095835.909 2355892.236, 2120999.0..."
3,25001012700,25023545100,-70.341803,41.645342,-70.754009,41.768764,03/23/20 - 03/29/20,4,109.0,"LINESTRING (2095835.909 2355892.236, 2059342.3..."
4,25001012700,25025081001,-70.341803,41.645342,-71.106830,42.334567,03/23/20 - 03/29/20,4,109.0,"LINESTRING (2095835.909 2355892.236, 2014839.6..."

In [5]:
us_tract_ma.head()

,STATEFP,COUNTYFP,TRACTCE,GEOID,NAME,NAMELSAD,MTFCC,FUNCSTAT,ALAND,AWATER,...,hh_worker_2_more,pct_worker_2_more,binge,bphigh,chd,diabetes,obesity,lpa,total_pop_cdc,geometry
0,25,027,724100,25027724100,7241,Census Tract 7241,G5020,S,53034202,1639215,...,577,37.54,18.0,33.5,6.9,9.4,30.7,25.3,3701,"POLYGON ((-72.21782 42.27018, -72.21765 42.270..."
1,25,027,759100,25027759100,7591,Census Tract 7591,G5020,S,25570219,1427831,...,358,43.34,20.5,28.9,5.8,8.3,31.1,23.4,2183,"POLYGON ((-72.07888 42.21475, -72.07880 42.214..."
2,25,025,091300,25025091300,913,Census Tract 913,G5020,S,262560,0,...,316,37.00,18.8,29.1,6.2,11.6,28.0,32.3,2499,"POLYGON ((-71.07220 42.32136, -71.07174 42.321..."
3,25,025,110501,25025110501,1105.01,Census Tract 1105.01,G5020,S,647837,0,...,623,45.67,22.8,24.8,4.8,7.1,20.6,19.2,3253,"POLYGON ((-71.14777 42.28599, -71.14739 42.286..."
4,25,025,030500,25025030500,305,Census Tract 305,G5020,S,193673,292691,...,481,31.83,29.1,16.0,2.8,3.8,15.5,12.5,2538,"POLYGON ((-71.05979 42.36877, -71.05883 42.369..."

In [9]:
us_tract_ma.columns

Index(['STATEFP', 'COUNTYFP', 'TRACTCE', 'GEOID', 'NAME', 'NAMELSAD', 'MTFCC',
       'FUNCSTAT', 'ALAND', 'AWATER', 'INTPTLAT', 'INTPTLON', 'layer', 'path',
       'geoid_x', 'pop', 'households', 'male', 'male_ratio', 'female',
       'female_ratio', 'median_age', 'white', 'black', 'asian', 'other_race',
       'white_ratio', 'black_ratio', 'asian_ratio', 'other_race_ratio',
       'income', 'pop_no_inc', 'pop_inc_10k', 'pop_inc_10k_15k',
       'pop_inc_15k_25k', 'pop_inc_25k_35k', 'pop_inc_35k_50k',
       'pop_inc_50k_65k', 'pop_inc_65k_75k', 'pop_inc_75k', 'geoid_y',
       'est_pmiles', 'est_ptrp', 'est_vmiles', 'est_vtrp', 'total_pop_bts',
       'households_bts', 'median_hh_inc_bts', 'hh_veh_0', 'hh_veh_1',
       'hh_veh_2_more', 'pct_veh_0', 'pct_veh_1', 'pct_veh_2_more',
       'hh_worker_1', 'pct_worker_1', 'hh_worker_2_more', 'pct_worker_2_more',
       'binge', 'bphigh', 'chd', 'diabetes', 'obesity', 'lpa', 'total_pop_cdc',
       'geometry'],
      dtype='object')